@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin:0;
    list-style-type: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none
}

:root{
    --text-color:#f5f5f5;
    --hover-color:#a1b7b8;
    --bg-color:#241922;
    --secon-color:#6e767e;
    --big-font:2.5rem;
    --norma-font:2rem;
    --neon-box-shadow:0 0 .5rem #8da4a5;
    --h2-font:3rem;
    --font-neon-text-shadow:0 0 10px rgba(18,247,255,0.3),
    0 0 20px rgba(18,247,255,0.3),
    0 0 30px rgba(18,247,255,0.3),
    0 0 40px rgba(18,247,255,0.3),
    0 0 70px rgba(18,247,255,0.3),
    0 0 80px rgba(18,247,255,0.3),
    0 0 100px rgba(18,247,255,0.3),
    0 0 150px rgba(18,247,255,0.3);
}

::-webkit-scrollbar{
    height:0;
    width:.5rem;
}

::-webkit-scrollbar-track{
    background: var(--secon-color);
}
::-webkit-scrollbar-thumb{
    background: var(--hover-color);
    border-radius:5rem
}


body{
    font-family: "Poppins",sans-serif;
    background-color: var(--bg-color);
    color:var(--text-color)
}
.container{
    max-width: 1068px;
    margin: auto;
    width: 100%;
}
.filter-buttons{
    margin:2rem;
    text-align:center;
}


header{
    width:100%;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 40px 10%;
    height:60px;
    position:fixed;
    z-index:100000;
    top:0;
    left:0;
    border-bottom:1px solid transparent;
    background-color: var(--bg-color);
}

.logo{
    font-size:20px;
    font-weight:700;
    letter-spacing: 1px
}

span{
    color:var(--hover-color)
}

.navlist{
    display:flex;
}

.navlist a{
    display:inline-block;
    color:var(--text-color);
    font-weight:500;
    padding:10px 20px;
}
header.sticky{
    background: var(--bg-color);
    border-bottom:1px solid var(--hover-color);
    padding:12px 10%
}

.navlist a:hover{
    color:var(--hover-color);
    text-shadow:0 0 10px rgba(18,247,255,0.6),
    0 0 20px rgba(18,247,255,0.6),
    0 0 30px rgba(18,247,255,0.6),
    0 0 40px rgba(18,247,255,0.6),
    0 0 70px rgba(18,247,255,0.6),
    0 0 80px rgba(18,247,255,0.6),
    0 0 100px rgba(18,247,255,0.6),
    0 0 150px rgba(18,247,255,0.6);
}


.navlist a.active{
    color:var(--hover-color)
}

#menu-icon{
    font-size: 1.8rem;
    z-index: 10001;
    cursor: pointer;
    margin-left:25px;
    background: var(--hover-color);
    border-radius: 3px;
    color:var(--secon-color);
    display: none;
}

section{
    padding:100px 10%
}

.main-text{
    width:100%;
    text-align:center;
    margin-bottom:2rem;
    color:var(--hover-color);
}

.main-text h2{
    font-weight:700;
    font-size:var(--norma-font);
}
.main-text span{
    color:#fdfdfd;
    font-size:.8rem;
    font-weight:200;
    letter-spacing: 2px;
    text-transform: uppercase;
}


.filter-buttons{
    margin:2rem;
    text-align:center;
}

.filter-buttons .button{
    background: none;
    outline:none;
    border:none;
    cursor: pointer;
    font-size:.85rem;
    font-weight:600;
    letter-spacing:.4px;
    margin-left:1.3rem;
    color:var(--text-color);
}

.filter-buttons .button:hover{
    color:var(--hover-color)
}

.portfolio-gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,auto));
    gap: 1.2rem;
}

.port-box{
    position:relative;
    border-radius:15px;
    overflow:hidden;
    background: #292e33;
    display:flex;
    grid-template-rows:1fr auto;
    align-items:center;
    border:2px solid var(--hover-color);
    box-shadow:var(--neon-box-shadow)

}
.port-image{
    display:flex;
    align-items:center;
    justify-content:center;
    height:200px;
    width:400px;
}

.port-image img{
    width:100%;
    opacity:.5s;
    height:100%;
    transition:.5s
}


.port-content{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:100%;
    opacity:0;
    background: linear-gradient(rgba(0,0,0,.2),#12f7ff);
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    text-align:center;
    transition:0.5s;
    padding: 0 2rem
}
.port-box:hover .port-content{
    opacity:1;
    cursor:pointer;
}


.port-box:hover .port-image img{
    transform:scale(1.1)
}

.port-content h3{
    font-size:1.5rem;
    font-weight:600
}

.port-content p{
    font-size:.8rem;
    margin:5px 0 15px 0
}

.port-content a{
    background: #fff;
    border-radius:50%;
    display:inline-flex;
    justify-content:center;
    align-items:center;
    width:50px;
    height:50px;
    border:1px solid var(--hover-color);
    outline: 2px solid white
}

@media(max-width:990px){
    section{
        padding:50px 5%
    }
    header,
    header.sticky{
        padding:15px 5%
    }
    .navlist a{
        padding:8px 15px 
    }
    :root{

        --big-font:2.1rem;
        --norma-font:1.7rem;
        --neon-box-shadow:0 0 .8rem #12f7ff;
        --h2-font:3rem;
    }
}

@media(max-width:760px){
    section{
        margin-top:30px
    }
    #menu-icon{
        display: block;
        transition:all .4s ease
    }
    #menu-icon.bx-x{
        transform:rotate(-180deg)
    }
    .navlist{
        display:flex;
        position:absolute;
        top:-1000px;
        right:0;
        left:0;
        flex-direction:column;
        background-color: var(--bg-color);
        text-align:left;
        padding:0 5%;
        transition:all .45s ease
    }
    .navlist a{
        display:block;
        padding-bottom:1rem;
        font-size:1rem;
    }
    .navlist.open{
        top:90%
    }
    .port-image img{
        width:100%
    }
    
}


@media(max-width:420px){

    html{
        font-size:80%
    }
  
    .filter-buttons{
        font-size:.8rem;
        margin: 1rem
    }
    .img-about{
        width:300px
    }
}

